@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'mainfont';
  src: url('/fonts/mainfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollnone::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scrollnone {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.scrollnone::-ms-scrollbar {
  width: 0px;
  height: 0px;
}

.searchbar{
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.filterbar{
  border: 1px solid rgba(105, 105, 105, 0.6);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* =============== Responvive ================== */

@media screen and (max-width: 1280px) {
  .lap-sidebar{
    display: none;
  }
  .mobile-sidebar{
    display: inline-block;
  }

}

@media screen and (max-width: 1350px) {
.rightbar{
  padding-left: 90px;
  padding-top: 40px;
}
}

@media screen and (max-width: 900px) {
.filter-container{
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
}

@media screen and (max-width: 700px) {
.filter-inner-container{
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 90%;
}
.filter-inner-container-box-2{
  margin-left: 0px;
}
.manage-moderators-text{
  font-size: 28px;
}
.manage-moderators-para{
  font-size: 16px;
  width: 100%;
}
.search-bar-box{
  width: 100%;
}
}
@media screen and (max-width: 600px) {
.sidebar-container{
  padding-left: 10px ;
  padding-right: 10px;
}
.rightbar{
  height: 85vh;
}
}
@media screen and (max-width: 450px) {
  .rightbar{
    height: 90vh;
  }
  .moderator-container-check-box {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media screen and (max-width: 400px) {
  .rightbar{
    height: 89vh;
  }
}
@media screen and (max-width: 500px) {

  .filter-text{
    font-size: 15px;
  }
  .add-moderator-img{
    height: 10px;
  }
.add-moderator-container{
  width: 90%;
}
.advanced-container, .today-container{
  width: 100%;
}
.filter-inner-container-box-2{
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.rightbar{
  padding-left: 80px;
  padding-top: 40px;
}

.add-moderator-container{
  width: 90%;
  height: 80%;
  overflow-y: auto;
}
.add-moderator-button-container{
  justify-content: center;
}
.empty-div{
  display: none;
}
.col-span-3-sm {
  grid-column: span 3;
}
.col-span-2-sm {
  grid-column: span 2;
}

}
@media screen and (max-width: 780px) {
  .show-result-text{
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .paginatio-select{
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .web-logo{
    width: 140px;
  }
  .sidebar-text{
    font-size: 15px;
  }
}




/* =============== Responvive ================== */